<!DOCTYPE html>
<html>
<head><title>FTP Login</title></head>
<body>
    <h2>FTP Login</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
        IP Address: <input type="text" name="ip"><br>
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Connect">
    </form>
</body>
</html>

